

code {
    color: rgb(57, 58, 52);
    font-family:  "Fira Code",sans-serif !important;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 16px;
    line-height: 1.2em;
    tab-size: 4;
    hyphens: none;
}

code span {
    font-style: normal !important;
}

.markdown-body pre {
    padding: 0 !important;
}


/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}



/*导航*/
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.app-bar {
    padding-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.h-100 {
    height: 100% !important;
}
.mt-auto {
    margin-top: auto !important;
}
#root {
    display: flex;
    flex-direction: column;
}