
.markdown-body {
    background-color: transparent !important;
}

code {
    font-family:  "Fira Code",sans-serif !important;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 16px;
    line-height: 1.2em;
    tab-size: 4;
    hyphens: none;
}

.markdown-body pre div{
    border: none !important;
    background-color: transparent !important;
}
.markdown-body pre {
    background-color: transparent !important;
}
/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

/*博客导航样式*/


.h-100 {
    height: 100% !important;
}

#root {
    display: flex;
    flex-direction: column;
}


/*文档页面布局*/

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    overflow-x: hidden;
    padding: 12px;
}


.sidenav .item {
    margin-bottom: 12px;
}

/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}

/*文档页面布局end*/
